<div class="btn-group <%= html_class %>" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= user.role %></button>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= user.name %>
  </button>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= user.email %>
  </button>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= user.phone %>
  </button>
</div>
