<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for(Message.new) do |f| %>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
          <div class="form-group">
            <%= f.label :content %><br />
            <%= f.text_area :content, required: true, class: 'form-control', 
                 placeholder: 'Текст сообщения', rows: 5 %>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <p>Отправить сообщение</p>
          <button type="submit" class="btn btn-primary btn-block">Отправить заказчику</button>
          <button type="submit" class="btn btn-warning btn-block">Отправить автору</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
