<div class="panel panel-default">
  <%= form_for(part) do |f| %>
    <%= f.hidden_field :order_id, value: @order.id %>
    <div class="panel-heading" role="tab" id="headingOne">
      <div class="row">
        <div class="col-xs-6">
          <h4 class="panel-title">
            <% panel_title = part.name ? part.name : "Новая часть" %>
            <%= link_to panel_title, "#part#{part.id}", { role: "button", class: "collapsed",
                          "data-toggle": "collapse", "data-parent": "#accordion",
                          "aria-expanded": "true", "aria-controls": "part#{part.id}" } %>
          </h4>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <%= f.datetime_select :deadline %>
          </div>
        </div>
      </div>
    </div>
    <div id="<%= "part#{part.id}" %>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="form-group">
          <%= f.text_field :name, placeholder: 'Название части', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.text_area :description, placeholder: 'Описание', class: 'form-control' %>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="text-muted text-uppercase text-center"><strong>Перетащите файлы сюда</strong></p>
            <% if part.file.size %>
              <p class="text-primary"><%= link_to part.file_file_name, part.file.url %></p>
            <% end %>
            <div class="form-group">
              <%= f.file_field :file %>
              <!-- <input type="file" id="new_part_file"> -->
            </div>
          </div>
        </div>
        <br/>
        <%= f.button "Сохранить", class: 'btn btn-primary btn-lg btn-block' %>
        <% if part.id %>
          <%= link_to 'Удалить часть', part_path(part), method: :delete, class: "btn btn-danger btn-lg btn-block", data: { confirm: "Вы уверены?"} %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
