<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :worktype %><br>
    <%= f.collection_select :worktype_id, Worktype.all, :id, :name, { prompt: 'Выберите тип работы'}, {class: 'form-control'} %>
  </div>
  <div class="form-group" id="worktype_other" >
    <%= f.label :worktype_other %><br>
    <%= f.text_field :worktype_other, class: 'form-control', placeholder: 'Введите тип работы, если его нет в списке', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :speciality %><br>
    <%= f.collection_select :speciality_id, Speciality.all, :id, :name, { prompt: 'Выберите предмет'}, {class: 'form-control'} %>
  </div>
  <div class="form-group" id="speciality_other">
    <%= f.label :speciality_other %><br>
    <%= f.text_field :speciality_other, class: 'form-control', placeholder: 'Введите название предмета, если его нет в списке', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :institution %><br>
    <%= f.text_field :institution, placeholder: 'Учебное заведение', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :theme %><br>
    <%= f.text_field :theme, placeholder: 'Тема работы', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :uniqueness %><br>
    <%= f.text_field :uniqueness, placeholder: 'Уникальность', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, placeholder: 'Комментарий', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %><br>
    <%= f.date_select :deadline, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :page_number %><br>
    <%= f.number_field :page_number, placeholder: 'Количество страниц', class: 'form-control' %>
  </div>

  <% if ["Admin", "Manager"].include? current_user.role %>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
          <div class="form-group">
      <%= f.label :status %><br>
      <%= f.collection_select :status, Order.status_names_for_select, :second, :first, { prompt: 'Статус'}, {class: 'form-control'} %>
    </div>
        <div class="form-group">
          <%= f.label :client %><br>
          <%= f.collection_select :client_id, Client.all, :id, :name, { prompt: 'Заказчик'}, {class: 'form-control'} %>
        </div>
        <div class="form-group">
          <%= f.label :employee %><br>
          <%= f.collection_select :employee_id, Employee.all, :id, :name, { prompt: 'Испонитель'}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p>Сроки выполнения</p>
        <table class="table table-striped">
          <tr>
            <th>Наименование</th>
            <th>Дата/время</th>
          </tr>
          <tr>
            <td>Дата информирования</td>
            <td><%= f.datetime_select :inform_date %></td>
          </tr>
          <tr>
            <td>Срок для автора</td>
            <td><%= f.datetime_select :employee_deadline %></td>
          </tr>
        </table>
      </div>
    </div>
  <% end %>

  <%= f.button "Сохранить", class: 'btn btn-primary' %>
<% end %>
