/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

body,
html {
	padding: 0;
	margin: 0;
	height: 100%;
}
body {
	font-size: 16px;
	height: 100%;
	min-height: 100%;
	background-color: #f9f9f9;
}
.wrapper {
	min-height: 100%;
	position: relative;
}

.table .glyphicon:hover {
	cursor: pointer;
}
.main_content {
	height: 100%;
	min-height: 100%;
	padding-bottom: 180px;
}
.footer {
	position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
input {
	width: 100%;
}
.btn-group .btn a {
	display: block;
}
.form-group.required label:after {
  content:"*";
  color:#E24747;
}
.multiline {
    word-wrap: break-word;
}